@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: work sans;
     background-color: #f3f3f3;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 25px;
}

h1{
    font-family: fjalla one;
}

form{
   
    padding: 20px;
}

fieldset{
     background-color:#f3f3f3 ;
     border: solid  white 5px;
     margin: 10px;
     border-radius: 20px;
     display: flex;
     justify-content: center;
     flex-direction: column;
}

div{
    margin:10px 110px 10px 20px;
}

legend{
  
}

label{
    margin: 0 0 10px 0;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 1px #f3f3f3;
    border-radius: 5px;
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
}

input:invalid,
select:invalid,
textarea:invalid{
    border-color: red;
}

input:valid,
select:valid,
textarea:valid {
    border-color: rgb(0, 174, 255);
} 


button{
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: white;
    border: solid 1px #f3f3f3;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
  background-color: green; 
  color: white;
}

button[type="reset"]:hover {
  background-color: orangered;
}