@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     font-family: work sans;
     background-color: #f3f3f3;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 25px;
}

h1{
    font-family: fjalla one;
}

form{
   
    padding: 20px;
}

fieldset{
     background-color: #ffffff;
     box-shadow: inset 0 3px 5px 1px rgba(0, 0, 0, 0.5) ;
     border: solid  #f3f3f3 15px;
     margin: 20px;
     border-radius: 20px;
     padding: ;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

div{
    margin:10px 110px 10px 20px;
}

legend{
   background-color: ;
   margin: 0 0 0 0;
}